[project]
	description = The common API for Drools and jBPM
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gayatrihk
[access "refs/for/refs/*"]
	read = group user/gayatrihk
	push = group user/gayatrihk
	label-Code-Review = -2..+2 group user/gayatrihk
	label-Verified = -1..+1 group user/gayatrihk
	rebase = group user/gayatrihk
	removeReviewer = group user/gayatrihk
	submit = group user/gayatrihk
[access "refs/heads/*"]
	read = group user/gayatrihk
	create = group user/gayatrihk
	push = +force group user/gayatrihk
	pushMerge = group user/gayatrihk
[access "refs/tags/*"]
	push = +force group user/gayatrihk
	pushTag = group user/gayatrihk
	pushSignedTag = group user/gayatrihk
